brotlipy==0.7.0
certifi==2021.5.30
future==0.18.2
google-pasta==0.2.0
h5py==2.10.0
huggingface-hub==0.0.8
importlib-metadata==4.0.1
Keras-Applications==1.0.8
nltk==3.6.2
numpy==1.19.5
pandas==1.1.5
pyparsing==2.4.7
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.5.4
sentencepiece==0.1.96
six==1.16.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.10.2
TorchCRF==1.1.0